{% extends "SanPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block sanplatform_body %}

  <h2>Ajouter une annonce</h2>
{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
      {% endfor %}
  {{ include("SanPlatformBundle:Advert:form.html.twig") }}

  

  <p>
    <a href="{{ path('san_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>

{% endblock %}